.project-detail-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 80px 24px 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.left-container,
.right-container {
  flex: 1 1 45%;
  min-width: 300px;
}

.left-container {
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.4s ease;
  padding: 20px;
}

.left-container-purple {
  background-color: var(--color-primary-light);
  border: 1px solid var(--color-primary-text);
}

.left-container-blue {
  background-color: var(--color-accent-blue-muted);
  border: 1px solid var(--color-accent-blue-dark);
}

.right-container {
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.4s ease;
  padding: 20px;
}

.right-container-purple {
  background-color: var(--color-primary-light);
  border: 1px solid var(--color-primary-text);
}

.right-container-blue {
  background-color: var(--color-accent-blue-muted);
  border: 1px solid var(--color-accent-blue-dark);
}

.right-container > h2 {
  font-size: 28px;
  font-weight: 700;
  color: var(--color-accent-blue-muted);
  margin-bottom: 16px;
}

.left-container > .project-header > h1 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}

.left-container-purple > .project-header > h1 {
  color: var(--color-primary-text);
}

.left-container-blue > .project-header > h1 {
  color: var(--color-accent-blue-dark);
}

.left-container > .project-header > h1 > .arrow-link {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  margin-left: 12px;
}

.arrow-icon-3d {
  /* color: #a060fa; */
  font-size: 22px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.arrow-icon-3d-purple {
  color: var(--color-primary-text);
}

.arrow-icon-3d-blue {
  color: var(--color-accent-blue-dark);
}

.arrow-icon-3d:hover {
  transform: translateY(-2px) scale(1.1);
  text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}

.left-container > .project-header > .detail-image-wrapper > img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 16px;
}

.detail-image-wrapper {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 0 auto 1.5rem;
  overflow: hidden;
  border-radius: 12px;
}

.left-container > .project-header > .detail-image-wrapper > .problem-number {
  position: absolute;
  bottom: 30px;
  right: 12px;
  background: var(--color-primary-light);
  color: var(--color-primary-text);
  font-weight: 600;
  font-size: 15px;
  padding: 5px 12px;
  border-radius: 8px;
  backdrop-filter: blur(4px);
  border: 1px solid var(--color-primary-text);
}

.left-container > .project-header > p {
  font-size: 16px;
  color: var(--color-black);
  margin-bottom: 8px;
  line-height: 1.6;
}

.right-container > h2 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
}

.right-container-purple > h2 {
  color: var(--color-primary-text);
}

.right-container-blue > h2 {
  color: var(--color-accent-blue-dark);
}

/* hide scrollbar for webkit browsers */
.project-detail-container pre::-webkit-scrollbar {
  display: none;
}

.code-block {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  /* max-height: 700px; */
}

.code-block-copy-button {
  position: absolute;
  top: 8px;
  right: 8px;
  background: #1e1e1e;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 4px 8px;
  cursor: pointer;
  font-size: 12px;
}

.back-button {
  width: 100%;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.back-button > button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold !important;
}
.back-button-purple > button {
  color: var(--color-primary-text);
}

.back-button-blue > button {
  color: var(--color-accent-blue-dark);
}

.examples-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.examples-section > h2 {
  font-size: 28px;
  font-weight: 700;
  margin: 32px 0px 16px 0;
  position: relative;
}

.examples-section-purple > h2 {
  color: var(--color-primary-text);
}

.examples-section-blue > h2 {
  color: var(--color-accent-blue-dark);
}

.example-card {
  background-color: #1e1e1e; /* same as code block */
  color: #d4d4d4;
  font-family: 'Fira Code', monospace;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  overflow-x: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-size: 14px;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .left-container,
  .right-container {
    flex: 1 1 100%;
  }
}

.tabs {
  display: flex;
  gap: 1rem;
  border-bottom: 1px solid #2c2c2c;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
}

.tab-btn {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: var(--color-gray);
  font-size: 14px;
  padding: 6px 0;
  position: relative;
  transition: color 0.2s ease;
}

.tab-btn:hover {
  color: var(--color-black);
}

.tab-btn.active {
  color: #a060fa;
}

.tab-btn.active::after {
  content: '';
  position: absolute;
  bottom: -6px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #a060fa;
  border-radius: 2px;
}

.code-block {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}
